body,
html {
  font-family: "Spartan", sans-serif;
  line-height: 1.5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.common-header {
  font-size: 1.2em;
  padding-bottom: 1%;
  color: #888888;
  text-align: center;
}
.header {
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
}
.navbar {
  box-sizing: border-box;
  background-color: #e7272d;
  height: 14vh;
  display: flex;
  font-weight: bold;
  border-bottom: solid 0.3px wheat;
}
.left-side {
  padding-left: 4%;
}
.right-side {
  width: 70%;
  padding-left: 40%;
}
.right-side a {
  color: white;
  transition-property: color;
  transition-duration: 0.8s;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 5%;
}
.right-side a:hover {
  text-decoration: none;
  color: black;
}
.left-side a {
  text-decoration: none;
  color: white;
}
.left-side a:hover {
  text-decoration: none;
  color: white;
}
.online-order {
  padding-right: 4%;
}
.online-order a {
  background-color: yellow;
  color: black;
  border: 10px solid yellow;
  border-radius: 40px;
  padding: 3px 8px 3px 8px;
}
.design {
  padding: 5%;
}
.home-contacts {
  display: flex;
  background-color: #131419;
  color: #999999;
}
.home-contact {
  padding-right: 2%;
  padding-left: 2%;
  width: 25%;
}
.home-contact h3 {
  font-weight: bold;
  color: white;
  font-size: 1.4em;
  padding-bottom: 4%;
}
.home-contact a {
  color: #999999;
  transition-property: color;
  transition-duration: 0.8s;
}
.home-contact a:hover {
  color: yellow;
  text-decoration: none;
}
.home-contact i {
  padding-right: 2%;
}
.line {
  border-right: 0.8px solid white;
}
.home-Cont {
  background-color: #131419;
  padding: 0 0 5% 5%;
  color: #999999;
}
.controller {
  display: flex;
  justify-content: space-between;
}
.icon-bar {
  width: 20%;
}
.icon-bar i {
  padding-left: 5%;
}
